<footer class="footer">
    <div class="footer__container container">
        <div class="footer__header">
            <a href="#" class="btn btn--outline btn--dark btn--xsmall">Связаться с нами</a>
            <a href="#" class="btn btn--circle btn--outline btn--dark">
                <svg class="icon"><use xlink:href="svg-sprite/sprite.svg#telegram"></use></svg>
            </a>
        </div>
        <nav class="footer__navigation">
            <ul>
                <li><a href="#perspective" class="scroll">О нас</a></li>
                <li><a href="#statistics" class="scroll">Новости</a></li>
                <li><a href="#discussion" class="scroll">Блог</a></li>
                <li><a href="#faq" class="scroll">Инвесторам</a></li>
                <li><a href="#roadmap" class="scroll">Road Map</a></li>
                <li><a href="#legal" class="scroll">Контакты</a></li>
            </ul>
        </nav>
        <div class="footer__bottom">
            <a href="#" class="footer__logo"><img src="images/global/logo.svg" width="140" height="37" alt="logo image"/></a>
            <a href="#" class="footer__privacy">Политика конфиденциальности</a>
            <p class="footer__copy">© 2021 “Cannasib”</p>    
        </div>
    </div>
</footer>