<header class="header">
    <div class="header__container container">
        <i class="decor__item wow fadeIn@lg" data-wow-delay="0.2s" data-parallax-img="345,235"></i>
        <i class="decor__item wow fadeIn@lg" data-wow-delay="0.2s" data-parallax-img="427,479"></i>
        <nav class="wow fadeInDown@lg" data-wow-duration="1s">
            <div class="header__left">
                <a href="#" class="header__logo">
                    <img src="images/global/logo.svg" alt="logo"/>
                </a>
            </div>
            <ul class="header__menu m:hide m:show@lg">
                <li><a href="#perspective" class="scroll">О нас</a></li>
                <li><a href="#discussion" class="scroll">Блог</a></li>
                <li><a href="#roadmap" class="scroll">Road Map</a></li>
                <li><a href="#statistics" class="scroll">Новости</a></li>
                <li><a href="#faq" class="scroll">Инвесторам</a></li>
                <li><a href="#legal" class="scroll">Контакты</a></li>
            </ul>
            <div class="header__right">
                <a href="#" class="btn btn--circle btn--outline btn--dark">
                    <svg class="icon"><use xlink:href="svg-sprite/sprite.svg#telegram"></use></svg>
                </a>
                <a href="#" class="btn btn--outline btn--dark btn--xsmall m:hide m:show@lg">Связаться с нами</a>
                <button class="btn btn--circle btn--primary m:hide@lg" id="menu-modal-open">
                    <svg class="icon"><use xlink:href="svg-sprite/sprite.svg#menu"></use></svg>
                </button>
            </div>    
        </nav>
        <div class="header__main wow fadeInRight@lg">
            <p class="header__subheading">Инвестируй в<span class="arrow"></span></p>
            <h1>Легальный бизнес<br> по выращиванию<span><img src="images/header/leaf.svg" alt="cannabis leaf"/>марихуанны</span>в Калифорнии</h1>
            <div class="header__bottom">
                <div class="header__promo">
                    <i class="decor__item" data-parallax-img="160,158"></i>
                    <img src="images/header/promo.png" alt="promo picture"/>
                </div>
                <p>Вложитесь в вертикальную систему<br> развития американской компании с русскими корнями и получайте достойную прибыль при регулярном отчете о показателях</p>
                <ul class="header__list">
                    <li>Доходность до 30% годовых</li>
                    <li>40 акров земли в собственности</li>
                    <li>Запуск в 1 квартале 2022 года</li>
                    <li>Сотрудничество по договору инвестирования</li>
                </ul>    
            </div>
        </div>
    </div>
</header>