.perspective {
    &__container {
        padding-top: size(55);
        padding-bottom: size(55);
        @include media(lg) {
            position: relative;
            > h3 {
                padding-right: 50%;
            }
        }
        @include media(xl) {
            padding-top: size(80);
            padding-bottom: size(80);
            > h3 {
                font-size: size(50, 115);
                padding-right: 54%;
            }
        }
        @include media(hg) {
            padding-top: size(100,115);
            padding-bottom: size(110,115);
        }
    }
    &__info {
        @include media(md) {
            display: flex;
            align-items: center;
        }
        @include media(lg) {
            padding-right: 50%;
            margin: size(20) 0;
        }
        @include media(xl) {
            padding-right: 54%;
        }
        @include media(hg) {
            margin: size(30) 0;
        }
    }
    &__picture {
        margin-top: size(34);
        margin-bottom: size(34);
        position: relative;
        @include media(md) {
            width: 40%;
            flex-shrink: 0;
            margin-right: size(10);
        }
        @include media(lg) {
            margin-right: 0;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            margin-top: 0;
            margin-bottom: 0;
            width: 48%;
        }
        &::before, &::after {
            content: "";
            position: absolute;
            display: block;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
            right: 0;
            top: 45%;
        }
        &::before {
            width: size(72);
            height: size(65);
            background-image: url(../images/header/leaf.svg);
            transform: translateY(-50%) rotate(-15deg);
            @include media(xl) {
                width: size(135, 115);
                height: size(125, 115);
            }
        }
        &::after {
            width: size(209);
            height: size(232);
            background-image: url(../images/decor/shape3.png);
            transform: translate(35%,-50%);
            z-index: -1;
            @include media(md) {
                width: size(150);
                height: size(160);
                transform: translate(5%, -50%);
            }
            @include media(xl) {
                width: size(396, 115);
                height: size(425, 115);
                transform: translate(29%, -50%);
            }
        }
        img {
            width: 100%;
        }
    }
    &__list {
        font-size: size(14);
        @include media(lg) {
            padding-right: 50%;
        }
        @include media(xl) {
            padding-right: 54%;
        }
        li {
            margin-top: size(28);
            padding-left: size(18);
            position: relative;
            @include media(lg) {
                margin-top: size(20);
            }
            &::before {
                content: "";
                position: absolute;
                top: size(7);
                left: 0;
                width: size(8);
                height: size(8);
                border-radius: 50%;
                background: $color-lime;
                @include media(xl) {
                    width: size(10, 115);
                    height: size(10, 115);
                    top: size(7);
                }
            }
            @include media(md) {
                &:first-child {
                    margin-top: 0;
                }
            }
        }
    }
}