<div class="modal-back"></div>
<div id="menu-modal" class="menu-modal">
    <div class="menu-modal__wrapper">
        <div class="menu-modal__header">
            <button class="btn menu-modal__close btn--circle btn--dark btn--outline"><svg class="icon"><use xlink:href="svg-sprite/sprite.svg#close"></use></svg></button>
        </div>
        <nav class="menu-modal__box">
            <ul class="menu-modal__list">
                <li class="menu-modal__list-item"><a href="#perspective" class="menu-modal__link scroll">О нас</a></li>
                <li class="menu-modal__list-item"><a href="#discussion" class="menu-modal__link scroll">Блог</a></li>
                <li class="menu-modal__list-item"><a href="#roadmap" class="menu-modal__link scroll">Road Map</a></li>
                <li class="menu-modal__list-item"><a href="#statistics" class="menu-modal__link scroll">Новости</a></li>
                <li class="menu-modal__list-item"><a href="#faq" class="menu-modal__link scroll">Инвесторам</a></li>
                <li class="menu-modal__list-item"><a href="#legal" class="menu-modal__link scroll">Контакты</a></li>
            </ul>
        </nav>
        <div class="menu-modal__footer">
            <a href="#" class="btn btn--primary btn--small">Связаться с нами</a>
            <a href="#" class="btn btn--circle btn--outline btn--dark">
                <svg class="icon"><use xlink:href="svg-sprite/sprite.svg#telegram"></use></svg>
            </a>
        </div>
    </div>
</div>