<section id="become" class="invest">
    <div class="invest__container container">
        <i class="decor__item wow fadeInRight@lg"></i>
        <i class="decor__item wow fadeInRight@lg"></i>
        <div class="invest__content">
            <div class="invest__heading">
                <p class="wow fadeInLeft@lg">Станьте частью развивающего рынка США<img src="images/header/leaf.svg" width="61" height="56" alt="leaf icon"></p>
                <img src="images/decor/smile2.svg" width="75" height="75" alt="smile icon"/>
            </div>
            <p class="wow fadeInUp@lg">Инвестируйте в легальный бизнес по выращиванию марихуаны</p>    
        </div>
        @@include("../custom/form.html",{})
    </div>
</section>