<section id="causes" class="causes">
    <div class="causes__container container">
        <h3 class="wow fadeInLeft@lg">6 причин вложить в каннабис сейчас</h3>
        <p class="wow fadeInLeft@lg">Если вы еще раздумываете над выгодностью вложений, ознакомьтесь с дополнительными преимуществами:</p>
        <div class="causes__items wow fadeInUp@lg">
            <div class="causes__item">
                <img src="images/causes/cause1.svg" class="causes__item-icon" alt="cause icon"/>
                <p class="causes__item-title">Официальный договор</p>
                <span class="causes__item-desc">Все условия будут зафиксированы и согласованы в договоре</span>
            </div>
            <div class="causes__item">
                <img src="images/causes/cause2.svg" class="causes__item-icon" alt="cause icon"/>
                <p class="causes__item-title">Прибыль в долларах</p>
                <span class="causes__item-desc">Ваши инвестиции защищены от резкого падения или роста валюты</span>
            </div>
            <div class="causes__item">
                <img src="images/causes/cause3.svg" class="causes__item-icon" alt="cause icon"/>
                <p class="causes__item-title">Диверсификация рисков</p>
                <span class="causes__item-desc">Инвестиции в несколько сфер бизнеса — способ сохранить доход даже в кризис</span>
            </div>
            <div class="causes__item">
                <img src="images/causes/cause4.svg" class="causes__item-icon" alt="cause icon"/>
                <p class="causes__item-title">Возможность платить криптовалютой</p>
                <span class="causes__item-desc">Мы поддержим ваш инновационный подход к инвестициям</span>
            </div>
            <div class="causes__item">
                <img src="images/causes/cause5.svg" class="causes__item-icon" alt="cause icon"/>
                <p class="causes__item-title">Работа с выходцами из России</p>
                <span class="causes__item-desc">Отсутствие разницы менталитетов, схожий подход к ведению бизнеса, высокий уровень понимания</span>
            </div>
            <div class="causes__item">
                <img src="images/causes/cause6.svg" class="causes__item-icon" alt="cause icon"/>
                <p class="causes__item-title">100% легальность</p>
                <span class="causes__item-desc">Соответствие всем нормам закона — первый принцип долгоиграющего и прибыльного бизнеса в США</span>
            </div>
        </div>
    </div>
    <i class="decor__item"></i>
</section>