<section id="discussion" class="discussion">
    <div class="discussion__container container">
        <h3 class="wow fadeInDown@lg">Деловой мир бурно обсуждает <br>каннабис и пробует свои силы</h3>
        <p class="wow fadeInDown@lg">После заявления тогда еще кандидата в президенты Соединенных Штатов и его победы на выборах интерес к бизнесу в сфере выращивания марихуаны начал расти быстрее. Так же было в соседней Канаде до того, как 7 октября 2018 года в стране был полностью легализован каннабис. Цифры подтверждают: показатель Global Cannabis Stock Index, который объединяет бумаги 37 торгуемых на бирже компаний индустрии, вырос на 15% со дня выборов</p>
        <div class="swiper-wrap wow fadeIn@lg">
            <div class="slider-1 swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide news__item">
                        <img data-src="images/discussion/new1.png" src="images/global/lazyload.png" class="swiper-lazy" alt="news picture"/>
                        <div class="swiper-lazy-preloader"></div>
                        <div class="news__block">
                            <div class="news__header">
                                <p class="news__date"><span>Forbes.ru</span><span>18.06.2020</span></p>
                                <p class="news__title">Бизнес, который вырос на 1000%: сколько можно заработать на инвестициях в легальную марихуану</p>
                            </div>
                            <a href="#" class="btn btn--xsmall btn--primary btn--outline">Читать статью</a>
                        </div>
                    </div>
                    <div class="swiper-slide news__item">
                        <img data-src="images/discussion/new2.png" src="images/global/lazyload.png" class="swiper-lazy" alt="news picture"/>
                        <div class="swiper-lazy-preloader"></div>
                        <div class="news__block">
                            <div class="news__header">
                                <p class="news__date"><span>Rbc.ru</span><span>22.11.2020</span></p>
                                <p class="news__title">Байден обещал декриминализацию марихуаны. Эти 4 акции станут звездами</p>
                            </div>
                            <a href="#" class="btn btn--xsmall btn--primary btn--outline">Читать статью</a>
                        </div>
                    </div>
                    <div class="swiper-slide news__item">
                        <img data-src="images/discussion/new3.png" src="images/global/lazyload.png" class="swiper-lazy" alt="news picture"/>
                        <div class="swiper-lazy-preloader"></div>
                        <div class="news__block">
                            <div class="news__header">
                                <p class="news__date"><span>Vedomosti.ru</span><span>22.05.2019</span></p>
                                <p class="news__title">На рынок легальной марихуаны выходят бизнесмены из России</p>
                            </div>
                            <a href="#" class="btn btn--xsmall btn--primary btn--outline">Читать статью</a>
                        </div>
                    </div>
                    <div class="swiper-slide news__item">
                        <img data-src="images/discussion/new1.png" src="images/global/lazyload.png" class="swiper-lazy" alt="news picture"/>
                        <div class="swiper-lazy-preloader"></div>
                        <div class="news__block">
                            <div class="news__header">
                                <p class="news__date"><span>Forbes.ru</span><span>18.06.2020</span></p>
                                <p class="news__title">Бизнес, который вырос на 1000%: сколько можно заработать на инвестициях в легальную марихуану</p>
                            </div>
                            <a href="#" class="btn btn--xsmall btn--primary btn--outline">Читать статью</a>
                        </div>
                    </div>
                    <div class="swiper-slide news__item">
                        <img data-src="images/discussion/new2.png" src="images/global/lazyload.png" class="swiper-lazy" alt="news picture"/>
                        <div class="swiper-lazy-preloader"></div>
                        <div class="news__block">
                            <div class="news__header">
                                <p class="news__date"><span>Rbc.ru</span><span>22.11.2020</span></p>
                                <p class="news__title">Байден обещал декриминализацию марихуаны. Эти 4 акции станут звездами</p>
                            </div>
                            <a href="#" class="btn btn--xsmall btn--primary btn--outline">Читать статью</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
                <button class="swiper-navigation swiper-prev"></button>
                <button class="swiper-navigation swiper-next"></button>
            </div>
        </div>
        <p class="wow fadeInUp@lg">На сегодняшний день в индустрии, связанной с производством и дистрибуцией марихуаны, так или иначе действует около 28 000 компаний. <b>Вот наиболее крупные игроки рынка:</b></p>
        <div class="swiper-wrap wow fadeIn@lg">
            <div class="slider-2 swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide giant__item"><img data-src="images/discussion/g1.png" src="images/global/lazyload.png" class="swiper-lazy" alt="company logo"/><div class="swiper-lazy-preloader"></div></div>
                    <div class="swiper-slide giant__item"><img data-src="images/discussion/g2.png" src="images/global/lazyload.png" class="swiper-lazy" alt="company logo"/><div class="swiper-lazy-preloader"></div></div>
                    <div class="swiper-slide giant__item"><img data-src="images/discussion/g3.png" src="images/global/lazyload.png" class="swiper-lazy" alt="company logo"/><div class="swiper-lazy-preloader"></div></div>
                    <div class="swiper-slide giant__item"><img data-src="images/discussion/g4.png" src="images/global/lazyload.png" class="swiper-lazy" alt="company logo"/><div class="swiper-lazy-preloader"></div></div>
                    <div class="swiper-slide giant__item"><img data-src="images/discussion/g5.png" src="images/global/lazyload.png" class="swiper-lazy" alt="company logo"/><div class="swiper-lazy-preloader"></div></div>
                    <div class="swiper-slide giant__item"><img data-src="images/discussion/g6.png" src="images/global/lazyload.png" class="swiper-lazy" alt="company logo"/><div class="swiper-lazy-preloader"></div></div>
                    <div class="swiper-slide giant__item"><img data-src="images/discussion/g2.png" src="images/global/lazyload.png" class="swiper-lazy" alt="company logo"/><div class="swiper-lazy-preloader"></div></div>
                    <div class="swiper-slide giant__item"><img data-src="images/discussion/g3.png" src="images/global/lazyload.png" class="swiper-lazy" alt="company logo"/><div class="swiper-lazy-preloader"></div></div>
                </div>
                <div class="swiper-pagination"></div>
                <button class="swiper-navigation swiper-prev"></button>
                <button class="swiper-navigation swiper-next"></button>
            </div>
        </div>
    </div>
</section>