<section id="expenses" class="expenses">
    <div class="expenses__container container">
        <h3 class="wow fadeInRight@lg">Вкладывайте и занимайте свое место в компании</h3>
        <p class="wow fadeInRight@lg">Сумма вложений для бизнес-сферы, связанной с выращиванием марихуаны, стартует от $500 000.<b>Она включает:</b></p>
        <ul class="wow fadeInRight@lg">
            <li>Закупку оборудования для 1 акра земли</li>
            <li>Обустройство участка площадью 1 акр</li>
            <li>Строительство 10-12 теплиц площадью по 300 м²</li>
        </ul>
        <div class="expenses__info">
            <div class="expenses__photo wow fadeIn@lg" data-wow-delay="0.5s">
                <img data-src="images/expenses/photo.png" alt="expenses photo" class="lazy" src="images/global/lazyload.png" loading="lazy"/>
                <i class="decor__item"></i>
            </div>
            <p class="wow fadeInRight@lg">Вложитесь в собственный акр американской земли сейчас и получите статус полноправного инвестора-партнера или пассивный доход от бизнеса на растущем рынке.<b>Согласуем индивидуальные условия для вас</b></p>
        </div>
    </div>
</section>