<section id="faq" class="faq">
    <div class="faq__container container">
        <h3 class="wow fadeInLeft@lg">Каннабис<br> в Калифорнии — абсолютно легальный бизнес</h3>
        <div class="faq__items">
            <div class="faq__item wow fadeInLeft@lg">
                <div class="faq__item-question">
                    <p>А что если бизнес внезапно закроют власти?</p>
                    <span class="faq__item-toggle"></span>
                </div>
                <div class="faq__item-answer">
                    <p>Мы организуем встречу при необходимости, на которой подпишем договор. Это будет ваш документ, гарантирующий нашу финансовую ответственность перед вами. Юридически он будет действителен как в США, так и на территории вашей страны.</p>
                </div>
            </div>
            <div class="faq__item wow fadeInLeft@lg" data-wow-delay="0.2s">
                <div class="faq__item-question">
                    <p>Я отправляю деньги за океан, какие у меня будут гарантии?</p>
                    <span class="faq__item-toggle"></span>
                </div>
                <div class="faq__item-answer">
                    <p>Мы организуем встречу при необходимости, на которой подпишем договор. Это будет ваш документ, гарантирующий нашу финансовую ответственность перед вами. Юридически он будет действителен как в США, так и на территории вашей страны.</p>
                </div>
            </div>
            <div class="faq__item wow fadeInLeft@lg" data-wow-delay="0.4s">
                <div class="faq__item-question">
                    <p>Если я решу выйти из бизнеса и забрать свои деньги?</p>
                    <span class="faq__item-toggle"></span>
                </div>
                <div class="faq__item-answer">
                    <p>Мы организуем встречу при необходимости, на которой подпишем договор. Это будет ваш документ, гарантирующий нашу финансовую ответственность перед вами. Юридически он будет действителен как в США, так и на территории вашей страны.</p>
                </div>
            </div>
        </div>
    </div>
</section>