<section id="legal" class="invest">
    <div class="invest__container container">
        <i class="decor__item wow fadeIn@lg"></i>
        <i class="decor__item wow fadeInRight@lg"></i>
        <div class="invest__content">
            <div class="invest__heading">
                <p>Вложитесь<br>в легальный бизнес<img src="images/header/leaf.svg" width="61" height="56" alt="leaf icon"></p>
                <img src="images/decor/smile.svg" width="75" height="75" alt="smile icon"/>
            </div>
            <p>по выращиванию марихуаны и станьте инвестором американской компании с русскими партнерами</p>    
        </div>
        @@include("../custom/form2.html",{})
    </div>
</section>