<section id="perspective" class="perspective">
    <div class="perspective__container container">
        <h3 class="wow fadeInDown@lg">Перспективная ниша, только открывающаяся миру — успейте зайти</h3>
        <div class="perspective__info">
            <div class="perspective__picture wow fadeIn@lg">
                <img data-src="images/perspective/photo.png" alt="perspective image" class="lazy" src="images/global/lazyload.png" loading="lazy"/>
            </div>
            <p class="wow fadeInLeft@lg">Рынок выращивания и продажи марихуаны растет последние 5-7 лет. Это объясняется запущенным процессом легализации, который по прогнозам и политической ситуации в США будет продолжен. И вот как обстоят дела на данный момент:</p>    
        </div>
        <ul class="perspective__list wow fadeInUp@lg">
            <li>Сегодня 39 штатов, а также округ Колумбия, Гуам и Пуэрто-Рико легализовали медицинский каннабис.</li>
            <li>В 15 из 39 штатов и округе Колумбия существует легализованный каннабис для взрослых.</li>
            <li>270 миллионов американцев живут в штатах, где законом разрешено применение лечебной марихуаны. </li>
            <li>3 миллиона пациентов США зарегистрированы в государственной программе по применению лечебной марихуаны.</li>
            <li>93 миллиона граждан США живут в штатах, где законом разрешено свободное употребление марихуаны взрослыми людьми. </li>
        </ul>
    </div>
</section>