<section id="quote" class="quote">
    <div class="quote__container container">
        <div class="quote__picture-block">
            <img data-src="images/quote/pic.png" src="images/global/lazyload.png" loading="lazy" class="quote__picture lazy wow buzz-out@lg" data-wow-delay="1s" alt="quote picture"/>
            <img src="images/decor/smile.svg" alt="smile icon"/>
        </div>
        <blockquote class="wow fadeInRight@lg">
            <p>Я думаю,мы должны декриминализовать марихуану, и точка</p>
            <span>Джо Байден, президент США<br>с 21 января 2021 года</span>
        </blockquote>
    </div>
</section>