<section id="roadmap" class="roadmap">
    <div class="roadmap__container container">
        <div class="roadmap__header">
            <h3 class="wow fadeInDown@lg">Идем четко по вертикали Road map</h3>
            <div class="roadmap__info">
                <div class="wow fadeInLeft@lg">
                    <p>Наша компания — собственник участка земли, пригодной для выращивания марихуаны. Мы хотим расширяться за счет инвестиций и разделить прибыль с будущими партнерами.</p>
                    <p>Вы в качестве инвестора будете вместе с нами контролировать весь процесс от выращивания до изготовления материалов и товаров для дальнейшей оптовой или розничной продажи. Запланированная производственная мощность — 50 000 – 60 000 фунтов в год при открытом типе выращивания и 30 000 – 40 000 фунтов в теплицах. В среднем это около 25 000 и 16 000 килограммов соответственно.</p>
                </div>
                <div class="roadmap__picture wow fadeIn@lg" data-wow-delay="0.5s">
                    <img data-src="images/roadmap/photo.png" alt="roadmap picture" class="lazy" src="images/global/lazyload.png" loading="lazy"/>
                </div>
            </div>    
        </div>
        <div class="steps__wrapper">
            <div class="steps__item">
                <div class="steps__info wow fadeInRight@lg">
                    <h4 class="steps__title">Подготовительный этап</h4>
                    <span class="steps__date">ноябрь 2019 - март 2020<span></span></span>
                    <ul class="steps__details">
                        <li>Составление бизнес-плана и просчет окупаемости;</li>
                        <li>Поиск и приобретение земли;</li>
                        <li>Подготовка участка к производству;</li>
                        <li>Оформление необходимых по закону документов;</li>
                        <li>Подготовка перед первой инспекцией для получения лицензии.</li>
                    </ul>
                </div>
                <div class="steps__picture wow fadeInLeft@lg">
                    <img src="images/roadmap/bg1.png" alt="main picture" class="steps__picture-main">
                    <img src="images/roadmap/geo-icon.svg" alt="geo icon" class="steps__icon1 wow fadeInLeft@lg" data-wow-delay="0.4s"/>
                    <img src="images/roadmap/check-icon.svg" alt="check icon" class="steps__icon2 wow fadeInUp@lg" data-wow-delay="0.4s"/>
                    <img src="images/roadmap/picture-icon.svg" alt="picture icon" class="steps__icon3 wow fadeInDown@lg" data-wow-delay="0.4s"/>
                </div>
            </div>
            <div class="steps__item">
                <div class="steps__info wow fadeInLeft@lg">
                    <h4 class="steps__title">Приобретение земли</h4>
                    <span class="steps__date">март 2020 - апрель 2020<span></span></span>
                    <p>На данный момент есть участок со всеми коммуникациями площадью 40 акров. После получения лицензии эта территория превратится в 18 акров уличной площадки либо 9 акров теплиц.</p>
                    <p>Земля полностью готова к производству, и запуск бизнеса планируется на февраль 2022 года.</p>
                    <p>Если вы вложитесь в проект сейчас, то меньше через 12 месяцев получите выигрыш в 2 раза. И вот почему. Все просто: средняя стоимость участка площадью 40 акров с коммуникациями и домом без лицензии — $1,5 миллиона, а с лицензией, которую мы планируем получить к 2022 году — $3 миллиона. </p>
                    <div class="steps__gallery">
                        <div class="steps__gallery-item">
                            <img data-src="images/roadmap/gallery1.png" alt="gallery pic" class="lazy" src="images/global/lazyload.png" loading="lazy"/>
                        </div>
                        <div class="steps__gallery-item">
                            <img data-src="images/roadmap/gallery2.png" alt="gallery pic" class="lazy" src="images/global/lazyload.png" loading="lazy"/>
                        </div>
                    </div>    
                </div>
                <div class="steps__picture wow fadeInRight@lg">
                    <img data-src="images/roadmap/photo2.png" class="steps__picture-main lazy" alt="step photo" src="images/global/lazyload.png" loading="lazy"/>
                    <img src="images/decor/asterisk2@sm.svg" class="steps__icon4 m:hide@lg" alt="decor icon"/>
                    <img src="images/decor/asterisk2.svg" class="steps__icon4 m:show@lg" alt="decor icon"/>
                </div>
            </div>
        </div>
    </div>
</section>