<section id="statistics" class="statistics">
    <div class="statistics__container container">
        <h3 class="wow fadeInLeft@lg">Объем рынка вырастет <b>до $34  млрд к 2025 году</b></h3>
        <p class="wow fadeInLeft@lg">Посмотрите на динамику рынка марихуаны и прогнозы на ближайшие 5 лет:</p>
    </div>
    <div class="graph__container container wow fadeIn@lg">
        <div class="graph">
            <div class="graph__wrapper">
                <div class="graph__grid"></div>
                <span class="graph__smile wow slideInDown@lg" data-wow-duration="1s"></span>
                <img src="images/graph/graph.svg" class="graph__lining m:hide@xl" alt="graph mobile"/>
                <img src="images/graph/graph@xl.svg" class="graph__lining m:show@xl" alt="graph mobile"/>
                <ul class="graph__data">
                    <li class="wow slideInUp@lg" data-wow-duration="1s" data-wow-delay="0.6s"><span>12,4</span></li>
                    <li class="wow slideInUp@lg" data-wow-duration="1s" data-wow-delay="0.5s"><span>16,3</span></li>
                    <li class="wow slideInUp@lg" data-wow-duration=".8s" data-wow-delay="0.5s"><span>19,6</span></li>
                    <li class="wow slideInUp@lg" data-wow-duration=".5s" data-wow-delay="0.4s"><span>23,6</span></li>
                    <li class="wow slideInUp@lg" data-wow-duration=".5s" data-wow-delay="0.3s"><span>27,5</span></li>
                    <li class="wow slideInUp@lg" data-wow-duration=".5s" data-wow-delay="0.2s"><span>31,1</span></li>
                    <li class="wow slideInUp@lg" data-wow-duration=".5s" data-wow-delay="0.1s"><span>33,9</span></li>
                </ul>
                <p>$<br>млрд</p>
                <p>год</p>
                <ul class="graph__axis graph__axis--y">
                    <li><span>35</span></li>
                    <li><span>30</span></li>
                    <li><span>25</span></li>
                    <li><span>20</span></li>
                    <li><span>15</span></li>
                    <li><span>10</span></li>
                </ul>
                <ul class="graph__axis graph__axis--x">
                    <li><span>2019</span></li>
                    <li><span>2020</span></li>
                    <li><span>2021</span></li>
                    <li><span>2022</span></li>
                    <li><span>2023</span></li>
                    <li><span>2024</span></li>
                    <li><span>2025</span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="statistics__container statistics__info container">
        <p class="wow fadeInLeft@lg">Бизнес-эксперты прогнозируют такие темпы роста при условии отсутствия коренных изменений в сфере. Однако, если марихуану легализуют в США на федеральном уровне — а для этого есть реальные предпосылки, — объем рынка может подскочить до рекордных $55 миллиардов.</p>
        <p class="wow fadeInRight@lg">Если рассматривать на примере одной компании, то участок с лицензией площадью 40 акров будет приносить <span>от $32,4 до $75,6 миллионов ежегодно</span> в зависимости от способа выращивания и количества урожаев.</p>
    </div>
    <i class="decor__item" data-parallax-img="394, 516"></i>
    <i class="decor__item" data-parallax-img="397, 424"></i>
    <i class="decor__item"></i>
</section>